{% extends "base.html" %}

{% block title %}Přihlášení | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Přihlášení{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
            <div class="mr-lg-5">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <ul class="list-group" role="alert">
                        {% for error in form.non_field_errors %}
                            <li class="list-group-item list-group-item-danger fp-form-error">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% for field in form.hidden_fields %}
                    {{ field }}
                    {% endfor %}

                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        <input type="{{ field.field.widget.input_type }}"
                               name="{{ field.name }}"
                               id="{{ field.id_for_label }}"
                               value="{% if field.value != None %}{{ field.value|stringformat:'s' }}{% endif %}"
                               {% for attr_name, attr_value in field.field.widget.attrs.items %}
                               {{ attr_name }}="{{ attr_value }}"
                               {% endfor %}
                               class="form-control{% if field.errors %} is-invalid{% endif %}"
                               {% if field.field.required %}required{% endif %}>
                        {% for err in field.errors %}
                        <div class="invalid-feedback">{{ err }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <button type="submit" class="tm-btn tm-btn-blue">Přihlásit se</button>
                </form>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <p class="tm-margin-b-p">
                Ještě nemáte účet? <a href="{% url 'register' %}">Vytvořte</a> si ho.
                Zapomněli jste heslo? Napište na
                <span style="unicode-bidi:bidi-override; direction: rtl; color: #007bff;">
                moc&#46;spuor<!-- Home -->gelgo<!-- page -->og&#64;ecdovurpotof</span>
                (pozor, adresu nekopírujte, ale opište!).
            </p>
        </div>
    </section>
{% endblock %}
