{% extends "base.html" %}

{% block title %}Přihlášení | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Přihlášení{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
            <div class="mr-lg-5">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% include 'forms/form.html' with form=form %}
                    <button type="submit" class="tm-btn tm-btn-blue">Přihlásit se</button>
                </form>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <p class="tm-margin-b-p">
                Ještě nemáte účet? <a href="{% url 'register' %}">Vytvořte</a> si ho.
                Zapomněli jste heslo? Napište na
                <span style="unicode-bidi:bidi-override; direction: rtl; color: #007bff;">
                moc&#46;spuor<!-- Home -->gelgo<!-- page -->og&#64;ecdovurpotof</span>
                (pozor, adresu nekopírujte, ale opište!).
            </p>
        </div>
    </section>
{% endblock %}
