{% extends "base.html" %}

{% block title %}Registrace | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Registrace{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
            <div class="mr-lg-5">
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% include 'forms/form.html' with form=form %}
                    <button type="submit" class="tm-btn tm-btn-blue">Registrovat se</button>
                </form>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <h3>Ochrana osobních dat</h3>
            <p class="tm-margin-b-p">
                Fotoprůvodce neukládá a neeviduje žádné vaše osobní údaje. Pro aktivní
                užívání serveru (vkládání a komentování fotografií, diskuze ve fotofóru)
                je z technických důvodů potřeba mít založený účet, pro který je nutné
                zadat pouze přezdívku, pod kterou chcete na serveru vystupovat. Pokud se
                rozhodnete při registraci zadat i e-mail, tento se v zadané podobě vůbec
                neuloží a tak ho nelze ani zobrazit nebo použít pro kontaktování. Uložen
                bude pouze jeho otisk (hash), který se může hodit např. k ověření pro
                reset hesla, pokud ho zapomenete.
            </p>
        </div>
    </section>

    <script type="text/javascript">
        function pageLoad() {
            var e = document.getElementById("id_url");
            if (e) {
                e.setAttribute("tabindex", "-1");
                while (e) {
                    e = e.parentElement;
                    if (e.nodeName == 'DIV') {
                        e.style.display = "none";
                        break;
                    }
                }
            }
        }
        window.onload = pageLoad;
    </script>
{% endblock %}
