{% extends "base.html" %}

{% block title %}Registrace | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Registrace{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
            <div class="mr-lg-5">
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% include 'forms/form.html' with form=form %}
                    <button type="submit" class="tm-btn tm-btn-blue">Registrovat se</button>
                </form>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        function pageLoad() {
            var e = document.getElementById("id_url");
            if (e) {
                e.setAttribute("tabindex", "-1");
                while (e) {
                    e = e.parentElement;
                    if (e.nodeName == 'DIV') {
                        e.style.display = "none";
                        break;
                    }
                }
            }
        }
        window.onload = pageLoad;
    </script>
{% endblock %}
