Source: fotopruvodce
Section: python
Priority: optional
Maintainer: Jan Seifert <jan.seifert@fotkyzcest.net>
Build-Depends: debhelper,
               dh-python,
               dh-systemd,
               python3-all,
               python3-django (>= 1:1.11), python3-django (<< 1:1.12),
               python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: 3.7

Package: fotopruvodce
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         adduser,
         fonts-glewlwyd,
         fonts-open-sans,
         libjs-jquery,
         python3-pkg-resources,
         python3-django (>= 1:1.11), python3-django (<< 1:1.12),
         python3-html2text,
         python3-markdown,
         python3-mysqldb,
         python3-pil,
         python3-sqlparse,
         gunicorn3,
         nginx,
         openssl
Description: Fotografická diskusní webová aplikace
 Fotografická diskusní aplikace poskytujici prostor fotografům
 libovolného ražení k diskusi svých problémů, či sdělování
 zkušeností.
