#!/usr/bin/make -f
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=__pycache__:.keep
export DH_VERBOSE=1

export PYBUILD_NAME=fotopruvodce
export PYBUILD_DISABLE=test
export PYBUILD_AFTER_INSTALL=rm -f {destdir}/{install_dir}/fotopruvodce/settings/local.* && ln -s /etc/fotopruvodce/django.conf {destdir}/{install_dir}/fotopruvodce/settings/local.py

%:
	dh $@ --with systemd --with python3 --buildsystem=pybuild

override_dh_installinit:
	dh_installinit --noscripts

override_dh_clean:
	dh_clean
	rm -rf $(CURDIR)/static
