{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Fotoprůvodce{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fotopruvodce.css' %}">
</head>
<body>
    {% block main-banner %}
    <div id="banner">
        <a href="{% url 'homepage' %}">Fotoprůvodce</a>
    </div>
    {% endblock %}

    <h1>{% block h1 %}Fotoprůvodce{% endblock %}</h1>

    {% block menu %}
    <div id="menu">
        <div id="menu1">
        {% block menu1 %}
            <ul id="menu1-login">
                {% if user.is_authenticated %}
                <li>Jste přihlášen jako <a id="logged-user" href="{% url 'user-home' %}">{{ user.username }}</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Administrace</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Odhlásit se</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">Registrace</a></li>
                <li><a href="{% url 'login' %}">Přihlásit se</a></li>
                {% endif %}
            </ul>
            <ul id="menu1-services">
                <li>Galerie</li>
                <li><a href="{% url 'comment-time' %}">Fotofórum</a></li>
            </ul>
        {% endblock %}
        </div>

        <div id="menu2">
        {% block menu2 %}
        {% endblock %}
        </div>
    </div>
    {% endblock %}

    {% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
