<!DOCTYPE html>

{% load static %}

<html lang="cs">
<head>
    {% block head %}
    <title>{% block title %}Fotoprůvodce{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fotopruvodce.css' %}">
    {% block extrastatics %}{% endblock %}
    {% endblock %}
</head>
<body>
    <h1 id="h1"><a href="{% url 'homepage' %}">{% block h1 %}Fotoprůvodce{% endblock %}</a></h1>

    {% block menu %}
    <div id="menu">
        <div id="menu-services">
            <ul>
                <li><a href="{% url 'photos-listing-time' %}">Fotogalerie</a></li>
                <li><a href="{% url 'comment-time' %}">Fotofórum</a></li>
                <li><a href="{% url 'workshops-listing' %}">Workshopy</a></li>
            </ul>
            <ul>
            {% block menu-services-context %}
            {% endblock %}
            </ul>
        </div>

        <div id="menu-account">
            <ul>
                {% if user.is_authenticated %}
                <li>Jste přihlášen jako <span class="author">{{ user.username }}</span></li>
                <li><a href="{% url 'logout' %}">Odhlásit se</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">Registrace</a></li>
                <li><a href="{% url 'login' %}">Přihlásit se</a></li>
                {% endif %}
            </ul>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account-personal-info' %}">Profil</a></li>
                <li><a href="{% url 'account-photos-listing' %}">Fotky</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}" target="_blank">Administrace</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}

    <ul id="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <script language="JavaScript" type="text/javascript">
        <!--
        document.write('<img src="https://toplist.cz/dot.asp?id=1778098&http='+
            escape(document.referrer)+'&t='+escape(document.title)+
            '&wi='+escape(window.screen.width)+'&he='+escape(window.screen.height)+'&cd='+
            escape(window.screen.colorDepth)+'" width="1" height="1" border=0 alt="TOPlist" />');
        //-->
    </script>
    <noscript>
        <img src="https://toplist.cz/dot.asp?id=1778098" border="0" alt="TOPlist" width="1" height="1" />
    </noscript>
</body>
</html>
