{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}Fotoprůvodce{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fotopruvodce.css' %}">
    {% endblock %}
</head>
<body>
    {% block main-banner %}
    <div id="banner">
        <a href="{% url 'homepage' %}">Fotoprůvodce</a>
    </div>
    {% endblock %}

    <h1>{% block h1 %}Fotoprůvodce{% endblock %}</h1>

    {% block menu %}
    <div id="menu">
        <div id="menu-services">
            <ul>
                <li><a href="{% url 'photos-listing-time' %}">Fotoalerie</a></li>
                <li><a href="{% url 'comment-time' %}">Fotofórum</a></li>
            </ul>
            <ul>
            {% block menu-services-context %}
            {% endblock %}
            </ul>
        </div>

        <div id="menu-account">
            <ul>
                {% if user.is_authenticated %}
                <li>Jste přihlášen jako <span class="author">{{ user.username }}</span></li>
                <li><a href="{% url 'logout' %}">Odhlásit se</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">Registrace</a></li>
                <li><a href="{% url 'login' %}">Přihlásit se</a></li>
                {% endif %}
            </ul>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account-personal-info' %}">Profil</a></li>
                <li><a href="{% url 'account-photos-listing' %}">Fotky</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}" target="_blank">Administrace</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}

    <ul id="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
