{% extends 'core/account-base.html' %}

{% block title %}Smazat fotku | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Smazat {% if obj.photos|length > 1%}sérii fotek{% else %}fotku{% endif %}{% endblock %}

{% block account-content %}
    <div class="card fp-card-listing">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <img src="{{ obj.thumbnail.url }}" class="img-thumbnail" alt="{{ obj.title|striptags }}">
                </div>
                <div class="col-sm-8">
                    <h4>{{ obj.title|striptags }}{% if obj.photos|length > 1%} <span class="badge badge-primary">série</span>{% endif %}</h4>
                    <small>{{ obj.comments.count }} {% if obj.comments.count == 1%}komentář{% else %}{% if obj.comments.count >= 2 and obj.comments.count <= 4 %}komentáře{% else %}komentářů{% endif %}{% endif %}</small>
                    <p>{{ obj.timestamp|date:'d.m.Y H:i:s' }}</p>
                </div>
            </div>
        </div>
    </div>

    <form method="post">
        <p><strong class="card-text">Opravdu chcete smazat {% if obj.photos|length > 1%}sérii fotek{% else %}fotku{% endif %}?</strong></p>
        <button type="submit" class="tm-btn btn-danger">Ano</button>
        <a class="tm-btn btn-success{% if not back %} disabled{% endif %}" href="{{ back }}">Ne</a>
    </form>
{% endblock %}
