{% extends 'core/account-base.html' %}

{% block title %}Upravit fotku | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Upravit fotku{% endblock %}

{% block account-content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'forms/form.html' with form=form only %}
        {% include 'forms/formset.html' with formset=workshop_form only %}
        <button type="submit" class="tm-btn btn-success">Uložit</button>
        <a class="tm-btn btn-danger{% if not back %} disabled{% endif %}" href="{{ back }}">Zpět</a>
    </form>
{% endblock %}
