{% extends 'base.html' %}

{% load text_extras %}
{% load get_params %}

{% block title %}Vaše fotky | {{ block.super }}{% endblock %}

{% block h1 %}Vaše fotky{% endblock %}

{% block content %}
    <a href="{% url 'account-photos-add' as add_url %}{% replace_get_params add_url back=request.get_full_path %}">Přidat</a>

    <ul id="photos-listing">
    {% for obj in object_list %}
        <li>
            <div class="listing-img">
                <img src="{{ obj.thumbnail.url }}">
            </div>
            <div class="listing-desc">
                <span class="title">{{ obj.title|striptags }}</span>
            </div>
            <div class="listing-desc">
                ({{ obj.comments.count }}) {{ obj.timestamp|date:'d.m.Y H:i:s' }}
            </div>
            <div class="listing-desc">
                {% if obj.active %}<a href="{{ obj.get_absolute_url }}">Zobrazit v galerii</a>{% else %}Zobrazit v galerii{% endif %}
                <a href="{% url 'account-photos-edit' obj.id as edit_url %}{% replace_get_params edit_url back=request.get_full_path %}">Upravit</a>
                <a href="{% url 'account-photos-delete' obj.id as delete_url %}{% replace_get_params delete_url back=request.get_full_path %}">Smazat</a>
            </div>
        </li>
    {% endfor %}
    </ul>

    <ul id="photos-pagination">
        <li>
            {% if object_list.has_previous %}
            <a href="{% remove_get_params request.get_full_path 'p' %}">[Nej]</a>
            {% else %}
            [Nej]
            {% endif %}
        </li>
        <li>
            {% if object_list.has_previous %}
            <a href="{% if object_list.number == 2 %}{% remove_get_params request.get_full_path 'p' %}{% else %}{% replace_get_params request.get_full_path p=object_list.previous_page_number %}{% endif %}">[Novější]</a>
            {% else %}
            [Novější]
            {% endif %}
        </li>
        <li>
            {% if object_list.has_next %}
            <a href="{% replace_get_params request.get_full_path p=object_list.next_page_number %}">[Starší]</a>
            {% else %}
            [Starší]
            {% endif %}
        </li>
    </ul>
{% endblock %}
