
#menu1 ul {
    list-style-type: none;
    padding-left: 0px;
}

#menu1 li {
    display: inline;
}

#menu1-login {
	text-align: right;
	float: right;
}

#menu1-login li {
    padding-left: 10px;
}

#menu1-services {
	text-align: left;
	float: left;
}

#menu1-services li {
    padding-right: 10px;
}

#logged-user {
	font-weight: bold;
}

#content {
    clear: both;
}

form label {
    display: block;
}

form .errorlist {
    list-style-type: none;
    padding-left: 0px;
    background-color: red;
}

#messages {
    clear: both;
    list-style-type: none;
    padding-left: 0px;
}

#messages li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#messages .debug {background-color: yellow;}
#messages .info {background-color: aqua;}
#messages .success {background-color: lime;}
#messages .warning {background-color: orange;}
#messages .error {background-color: red;}
