
form {
    padding: 10px;
    background-color: WhiteSmoke;
}

form p {
    margin-top: 0px;
}


.author {
	font-weight: bold;
}

#menu ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

#menu li {
    display: inline;
}

#menu-services {
	float: left;
}

#menu-services li {
	margin-right: 10px;
}

#menu-account {
	float: right;
	text-align: right;
}

#menu-account li {
	margin-left: 10px;
}

#logged-user {
	font-weight: bold;
}

#content {
    clear: both;
}

form label {
    display: block;
}

form .errorlist {
    list-style-type: none;
    padding-left: 0px;
    background-color: red;
}

#messages {
    clear: both;
    list-style-type: none;
    padding-left: 0px;
}

#messages li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#messages .debug {background-color: yellow;}
#messages .info {background-color: aqua;}
#messages .success {background-color: lime;}
#messages .warning {background-color: orange;}
#messages .error {background-color: red;}

#discussion-list {
    list-style-type: none;
    padding: 0px;
}

#discussion-list .author {
	font-weight: bold;
}

#discussion-detail ul {
    list-style-type: none;
    padding: 0px;
}

#discussion-detail .header-name {
	font-weight: bold;
}

#discussion-detail .author {
	font-weight: bold;
}

#discussion-detail .current-item {
	color: red;
}

#discussion-detail .comment-content ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#discussion-thread ul {
    list-style-type: none;
    padding: 0px;
}

#discussion-thread .header-name {
	font-weight: bold;
}

#discussion-thread .comment-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

#discussion-thread .comment-content ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#discussion-thread .comment-content-border {
    border-bottom: 1px solid black;
}

#discussion-pagination {
    list-style-type: none;
    padding: 0px;
}

#discussion-pagination li {
    display: inline;
}

#photos-listing {
    list-style-type: none;
    padding: 0px;
}

#photos-listing li {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
}

#photos-listing img {
    max-width: 300px;
    max-height: 200px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

#photos-listing .title {
	font-weight: bold;
}

#photos-pagination {
    list-style-type: none;
    padding: 0px;
    padding-top: 10px;
    border-top: 1px solid black;
    clear: both;
}

#photos-pagination li {
    display: inline;
}

#photos-detail .photos-detail-comment {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
}

#id_rating {
    list-style-type: none;
    padding: 0px;
}

#id_rating li {
    display: inline;
    padding-right: 10px;
}

#id_rating label {
    display: inline;
}

#photos-detail-ratings td {
    padding-right: 20px;
}

#section-listing {
    list-style-type: none;
    padding: 0px;
}

#latest-photos ul {
    list-style-type: none;
    padding: 0px;
}

#latest-photos li {
    display: inline;
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#latest-photos .img {
    display: table;
    width: 220px;
    height: 220px;
    line-height: 220px;
    background-color: WhiteSmoke;
}

#latest-photos img {
    display: table-cell;
    vertical-align: middle;
    max-width: 200px;
    max-height: 200px;
}

#latest-photos .desc {
    margin-top: 10px;
}

#latest-photos .more {
    clear: both;
}

#latest-comments ul {
    list-style-type: none;
    padding-left: 0px;
}
