
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

body {
    background: none;
    background-color: DimGray;
    padding: 0px 0px;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.form-group input[type=checkbox] {
    width: auto;
}

.form-group input[type=radio] {
    width: auto;
}

a.tm-btn.disabled, fieldset[disabled] a.tm-btn {
    pointer-events: none;
}

.tm-btn.disabled, .tm-btn:disabled {
    opacity: .65;
}

.tm-btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tm-site-name {
    font-size: 1.4rem;
    padding-top: 20px;
    text-transform: none;
}

.tm-site-header {
     height: 100px;
     padding: 0px 50px;
     background-position: center center;
}

.tm-main-content {
    padding: 35px 50px 30px;
}

.tm-gallery {
    padding-top: 0px;
}

.tm-gallery-item-overlay {
    background: WhiteSmoke;
    max-width: none;
    max-height: none;
    width: 210px;
    height: 210px;
}

.tm-img-center {
    max-width: 190px;
    max-height: 190px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tm-figcaption {
    padding-top: 10px;
    padding-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tm-margin-b-l {
    margin-bottom: 0px;
}

.fp-toplist {
    color: white;
    border: 0;
}

.fp-hp-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0px;
    padding: 0px;
}

.fp-hp-more {
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.fp-author {
    font-weight: bold;
}

.fp-hp-list-item .fp-comment {
    font-style: italic;
}

.fp-form-error {
    margin-bottom: 0.5rem;
}

.fp-form-error:last-child {
    margin-bottom: 1rem;
}

.fp-card-listing {
    margin-bottom: 1rem;
}

.fp-pagination {
    margin-top: 1rem;
}

#fp-account-form-personal-info {
    padding-bottom: 3em;
}

#fp-photo-detail h4 {
    padding-top: 2rem;
}

#fp-photo-detail #photo-comments .list-group-item {
    padding-left: 0px;
    padding-right: 0px;
}

#fp-photo-detail .table {
    width: auto;
    max-width: auto;
}

#fp-photo-detail .table td {
    padding-left: 0.3rem;
    padding-right: 2rem;
}

#fp-photo-detail .table td:last-child {
    padding-right: 0.3rem;
}

.fp-rating-collapse {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.fp-discussion-item {
    border: 0;
    padding: 0;
    padding-bottom: 0.25rem;
}

#form-rating #id_rating {
    padding-left: 0px;
}

#form-rating #id_rating li {
    display: inline;
    padding-right: 2ch;
}

#form-rating #id_rating li:last-child {
    display: inline;
    padding-right: 0px;
}

#form-rating #id_rating input {
    display: inline;
}

#fp_discussion_thread .list-group-item {
    padding-left: 0px;
    padding-right: 0px;
}

#fp_discussion_thread .fp-discussion-comment p {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .tm-site-name {
        font-size: 50px;
        padding: 0px;
    }
    .tm-site-header {
         height: 150px;
    }
    .tm-main-nav .nav-link {
        font-size: 1rem;
        padding: 15px 20px;
    }
}

@media (min-width: 992px) {
    .tm-site-header {
         background-position: center -220px;
    }
    .tm-main-nav .nav-link {
        font-size: 1.3rem;
    }
}
