
form {
    width: 30em;
    padding: 10px;
    background-color: WhiteSmoke;
}

form .errorlist {
    list-style-type: none;
    padding-left: 0px;
    background-color: red;
}

form label {
    display: block;
}

form span {
    display: block;
    margin-top: 0.5ex;
    font-size: 80%;
}

form ul {
    margin-bottom: 0.5ex;
}

form p {
    margin-top: 0.5ex;
    margin-bottom: 1ex;
}

input {
    box-sizing: border-box;
}

input[type=text] {
    width: 100%;
}

input[type=email] {
    width: 100%;
}

input[type=password] {
    width: 100%;
}

input[type=checkbox] {
    margin: 0px;
}

select {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}


.author {
    font-weight: bold;
}

.clear {
    clear: both;
}

#menu ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

#menu li {
    display: inline;
}

#menu-services {
    float: left;
}

#menu-services li {
    margin-right: 10px;
}

#menu-account {
    float: right;
    text-align: right;
}

#menu-account li {
    margin-left: 10px;
}

#logged-user {
    font-weight: bold;
}

#content {
    clear: both;
}

#messages {
    clear: both;
    list-style-type: none;
    padding-left: 0px;
}

#messages li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#messages .debug {background-color: yellow;}
#messages .info {background-color: aqua;}
#messages .success {background-color: lime;}
#messages .warning {background-color: orange;}
#messages .error {background-color: red;}

#discussion-list {
    list-style-type: none;
    padding: 0px;
}

#discussion-list .stats {
    font-style: italic;
}

#discussion-list a:visited {
    color: Indigo;
}

#discussion-detail ul {
    list-style-type: none;
    padding: 0px;
}

#discussion-detail .header-name {
    font-weight: bold;
}

#discussion-detail .current-item {
    color: red;
}

#discussion-detail .comment-content ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#discussion-thread ul {
    list-style-type: none;
    padding: 0px;
}

#discussion-thread .header-name {
    font-weight: bold;
}

#discussion-thread .comment-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

#discussion-thread .comment-content ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#discussion-thread .comment-content-border {
    border-bottom: 1px solid black;
}

#discussion-pagination {
    list-style-type: none;
    padding: 0px;
}

#discussion-pagination li {
    display: inline;
}

#photos-listing {
    list-style-type: none;
    padding: 0px;
}

#photos-listing li {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
}

#photos-listing .listing-img {
    float: left;
    width: 200px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#photos-listing img {
    max-width: 200px;
    max-height: 200px;
}

#photos-listing .listing-desc {
    float: left;
    width: calc(100% - 220px);
    padding-left: 10px;
    padding-bottom: 10px;
}

#photos-listing .title {
    font-weight: bold;
}

#photos-pagination {
    list-style-type: none;
    padding: 0px;
    padding-top: 10px;
    border-top: 1px solid black;
    clear: both;
}

#photos-pagination li {
    display: inline;
}

#photos-detail .photos-detail-comment {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
}

#photos-detail form {
    width: 60em;
}

#id_rating {
    list-style-type: none;
    padding: 0px;
}

#id_rating li {
    display: inline;
    padding-right: 10px;
}

#id_rating label {
    display: inline;
}

#photos-detail-ratings td {
    padding-right: 20px;
}

#section-listing {
    list-style-type: none;
    padding: 0px;
}

#months-listing {
    list-style-type: none;
    padding: 0px;
}

#months-listing h3 {
    margin-bottom: 0.5ex;
}

.months-listing-month {
    list-style-type: none;
    padding: 0px;
}

.more-photos {
    display: block;
    clear: both;
}

#latest-photos ul {
    list-style-type: none;
    padding: 0px;
}

#latest-photos li {
    display: inline;
    float: left;
    width: 120px;
    margin-right: 20px;
    margin-bottom: 1ex;
    text-align: center;
}

#latest-photos .img {
    display: table;
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: WhiteSmoke;
}

#latest-photos img {
    display: table-cell;
    vertical-align: middle;
    max-width: 100px;
    max-height: 100px;
}

#latest-photos .desc {
    margin-top: 10px;
}

.more-comments {
    margin-top: 1ex;
}

#latest-photos-comments ul {
    list-style-type: none;
    padding-left: 0px;
}

#latest-comments ul {
    list-style-type: none;
    padding-left: 0px;
}

#fp-description {
	min-width: 50em;
	width: 75%;
}

#fp-description ul {
    list-style-type: none;
    padding-left: 0px;
}
