{% load tweak_forms %}
<div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
    {% if field.errors %}
        {% render_field_with_css field 'form-control is-invalid' %}
    {% else %}
        {% render_field_with_css field 'form-control' %}
    {% endif %}
    {% if field.help_text %}
        <small id="{{ field.id_for_label }}_helptext" class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    {% for err in field.errors %}
        <div class="invalid-feedback">{{ err }}</div>
    {% endfor %}
</div>
