{% extends "discussion/base.html" %}

{% load static %}

{% block title %}Nové téma | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Nové téma{% endblock %}

{% block extrastatics %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
    <script src="{% static 'js/simplemde.min.js' %}"></script>
{% endblock %}

{% block listing %}
    <form method="POST" action="{% url 'comment-add' %}">
        {% csrf_token %}
        {% include 'forms/form.html' with form=form %}
        <button type="submit" class="tm-btn btn-primary">Přidat</button>
    </form>

    {% include 'forms/markdown-editor.html' with helptext_element='id_content_helptext' textarea_element='id_content' storage_key='discussion-comment-add' only %}
{% endblock %}
