{% extends "discussion/base.html" %}

{% load static %}

{% block title %}Nové téma | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Nové téma{% endblock %}

{% block extrastatics %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
    <script src="{% static 'js/simplemde.min.js' %}"></script>
{% endblock %}

{% block listing %}
    <form method="POST" action="{% url 'comment-add' %}">
        {% csrf_token %}
        {% include 'forms/form.html' with form=form %}
        <button type="submit" class="tm-btn btn-primary">Přidat</button>
    </form>
    <script>
        var helpTextElement = document.getElementById("id_content_helptext");
        if (helpTextElement) {
            var contentHelpText = helpTextElement.innerHTML;
            var firstLineEnd = contentHelpText.indexOf("<br>");
            var firstLineText = contentHelpText.slice(0, firstLineEnd);
            var newContentHelpText = contentHelpText.replace(firstLineText, "");
            while (newContentHelpText.indexOf("<br>") == 0) {
                newContentHelpText = newContentHelpText.replace("<br>", "");
            }
            helpTextElement.innerHTML = newContentHelpText;
            helpTextElement.classList.add("collapse");
            var collapseElement = document.createElement("SMALL");
            collapseElement.innerHTML = firstLineText + ' ' +
                '<a data-toggle="collapse" href="#id_content_helptext" aria-expanded="false" ' +
                'aria-controls="id_content_helptext">(&downarrow;)</a>';
            helpTextElement.parentNode.insertBefore(collapseElement, helpTextElement);
        }

        var content_mde = new SimpleMDE({
            autosave: {
                enabled: false,
                uniqueId: "discussion-comment-add",
            },
            element: document.getElementById("id_content"),
            forceSync: true,
            hideIcons: [
                "heading", "heading-smaller", "heading-bigger", "heading-1",
                "heading-2", "code", "clean-block", "table", "side-by-side",
                "fullscreen"
            ],
            indentWithTabs: false,
            lineWrapping: true,
            showIcons: [
                "bold", "italic", "strikethrough", "heading-3", "quote",
                "unordered-list", "ordered-list", "link", "image",
                "horizontal-rule", "preview", "guide"
            ],
            spellChecker: false,
            status: false
        });
    </script>
{% endblock %}
