{% extends "discussion/base.html" %}

{% load get_params %}

{% block content %}
    <h2>{% block h2 %}Komentáře{% endblock %}</h2>

	{% block listing %}
    <ul id="discussion-list">
    {% for obj in object_list %}
        <li>
            <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
            {% comment %}({% if obj.is_anonymous %}<span class="author">{{ obj.anonymous.author }} (neregistrovaný)</span>{% else %}<a href="{% url 'comment-user' obj.user.username %}"><span class="author">{{ obj.user.username }}</span></a>{% endif %}{% endcomment %}
            (<span class="author">{% if obj.is_anonymous %}<a href="{% url 'comment-user' obj.anonymous.author %}">{{ obj.anonymous.author }}</a> (neregistrovaný){% else %}<a href="{% url 'comment-user' obj.user.username %}">{{ obj.user.username }}</a>{% endif %}</span>
             <a href="{% url 'comment-date' obj.timestamp|date:'Y-m-d' %}">{{ obj.timestamp|date:'d.m.Y' }}</a> {{ obj.timestamp|time:'H:i:s' }})
            <a href="{% url 'comment-thread' obj.id %}">(T)</a>
        </li>
    {% endfor %}
    </ul>
    <ul id="discussion-pagination">
        <li>
            {% if object_list.has_previous %}
            <a href="{% remove_get_params request.get_full_path 'p' %}">[Nej]</a>
            {% else %}
            [Nej]
            {% endif %}
        </li>
        <li>
            {% if object_list.has_previous %}
            <a href="{% if object_list.number == 2 %}{% remove_get_params request.get_full_path 'p' %}{% else %}{% replace_get_params request.get_full_path p=object_list.previous_page_number %}{% endif %}">[Novější]</a>
            {% else %}
            [Novější]
            {% endif %}
        </li>
        <li>
            {% if object_list.has_next %}
            <a href="{% replace_get_params request.get_full_path p=object_list.next_page_number %}">[Starší]</a>
            {% else %}
            [Starší]
            {% endif %}
        </li>
    </ul>
	{% endblock %}
{% endblock %}
