{% extends "discussion/list.html" %}

{% block h2 %}Hledat{% endblock %}

{% block listing %}
    <form method="GET" action="{% url 'comment-archive' %}">
        {{ filter_form.as_p }}
        <input type="submit" value="Hledat">
    </form>
    {% if filter_q is not None %}
        {% if filter_q %}
            <h2>Výsledky hledání: <span class="archive-q">{{ filter_q }}</span></h2>
            {% if object_list %}
                {{ block.super }}
            {% else %}
                Nic nenalezeno
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
