{% extends "discussion/list.html" %}

{% block title %}{% if filter_q is not None %}Výsledky hledání {{ filter_q }}{% else %}Hledat{% endif %} | {{ block.super }}{% endblock %}

{% block main-content-header-text %}{% if filter_q is not None %}Výsledky hledání <strong>{{ filter_q }}</strong>{% else %}Hledat{% endif %}{% endblock %}

{% block listing %}
    <form method="GET" action="{% url 'comment-archive' %}">
        {% include 'forms/form.html' with form=filter_form %}
        <button type="submit" class="tm-btn btn-primary">Hledat</button>
    </form>

    {% if filter_q is not None %}
        {% if filter_q %}
            {% if object_list %}
                <p class="mt-4">
                    {{ block.super }}
                <p>
            {% else %}
                <p class="alert alert-warning mt-4" role="alert">
                    Nic nenalezeno
                </p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
