{% extends "discussion/base.html" %}

{% load text_extras %}

{% block title %}{{ obj.title }} | {{ block.super }}{% endblock %}

{% block content %}
    <h2>{{ obj.title }}</h2>

	<div><a href="{% url 'comment-detail' obj.id %}">Zobrazit pouze komentář</a></div>

	<div id="discussion-thread">
    {% for o in thread_tree %}
        <ul class="{% if not forloop.last %}comment-content-border{% endif %}">
            <li><span class="header-name">Název:</span> <a href="{% url 'comment-detail' o.id %}">{{ o.title }}</a></li>
            <li><span class="header-name">Autor:</span> {{ o.user.username }}</li>
            <li><span class="header-name">Kdy:</span> {{ o.timestamp|date:"d.m.Y H:i:s" }}</li>
            <li class="comment-content">{{ o.content|raw_text_to_html }}</li>
        </ul>
    {% endfor %}
    </div>
{% endblock %}
