{% extends "base.html" %}

{% load get_params %}
{% load text_extras %}

{% block title %}Profil | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Profil{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-9 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
            {% block account-content %}{% endblock %}
        </div>

        <div class="col-md-3 col-sm-12">
            <h4>{{ request.user.username }}</h4>
            <div class="list-group">
                {% url 'account-personal-info' as item_url %}
                <a href="{{ item_url }}" class="list-group-item list-group-item-action{% if request.path == item_url %} active{% endif %}">
                    Osobní údaje
                </a>

                {% url 'account-photos-add' as item_url_add %}
                <a href="{% replace_get_params item_url_add back=request.get_full_path %}" class="list-group-item list-group-item-action{% if request.path == item_url_add %} active{% endif %}">
                    Přidat fotku
                </a>

                {% url 'account-photos-listing' as item_url %}
                <a href="{{ item_url }}" class="list-group-item list-group-item-action{% if request.path != item_url_add and request.path|startswith:item_url %} active{% endif %}">
                    Moje fotky
                </a>

                {% if request.user.is_superuser or request.user.is_active and request.user.is_staff %}
                <a href="/admin/" target="_blank" class="list-group-item list-group-item-action">
                    Administrace
                </a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
