{% extends "core/account-base.html" %}

{% block title %}Osobní údaje | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Osobní údaje{% endblock %}

{% block account-content %}
    <div class="mr-lg-5">
        <form id="account-form-personal-info" method="POST" action="{% url 'account-personal-info' %}">
            {% csrf_token %}
            {% include 'forms/form.html' with form=form_user_edit %}
            <button type="submit" name="action" value="user-edit" class="tm-btn btn-success">Uložit údaje</button>
        </form>

        <form id="account-form-set-password"  method="POST" action="{% url 'account-personal-info' %}">
            {% csrf_token %}
            {% include 'forms/form.html' with form=form_set_password %}
            <button type="submit" name="action" value="set-password" class="tm-btn btn-success">Změnit heslo</button>
        </form>
    </div>
{% endblock %}
