{% extends "core/account-base.html" %}

{% load static %}

{% block title %}Osobní údaje | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Profil uživatele <span class="font-weight-bold">{{ request.user.username }}</span>{% endblock %}

{% block extrastatics %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
    <script src="{% static 'js/simplemde.min.js' %}"></script>
{% endblock %}

{% block account-content %}
    <div class="mr-lg-5">
        <form id="fp-account-form-profile" method="POST" action="{% url 'account-profile' %}">
            {% csrf_token %}
            {% include 'forms/form.html' with form=form_user_edit %}
            <div class="form-group">
            {% if request.user.profile.email_hash %}
                <label for="id_email_hash">Uložený otisk e-mailu:</label>
                <div id="id_email_hash">{{ request.user.profile.email_hash|truncatechars:40 }}</div>
            {% else %}
                Nemáte uložený žádný otisk e-mailu
            {% endif %}
            </div>
            <button type="submit" name="action" value="user-edit" class="tm-btn btn-success">Uložit údaje</button>
        </form>

        <form id="account-form-set-password"  method="POST" action="{% url 'account-profile' %}">
            {% csrf_token %}
            {% include 'forms/form.html' with form=form_set_password %}
            <button type="submit" name="action" value="set-password" class="tm-btn btn-success">Změnit heslo</button>
        </form>
    </div>

    {% include 'forms/markdown-editor.html' with helptext_element='id_description_helptext' textarea_element='id_description' storage_key='account-description' only %}
{% endblock %}
