{% extends "base.html" %}

{% load photos %}
{% load discussion %}
{% load text_extras %}

{% block main-content-header %}{% endblock %}

{% block content %}
    {% for hp_box in preferences.hp_boxes %}
    {% if hp_box == 'new-photos-box' %}
    <div class="fp-homepage-box">
        <header>
            <h2 id="new-photos-box"
                class="tm-main-title"
                {% if not request.user.is_anonymous %}
                draggable="true"
                ondragstart="fpHomepage.drag(event)"
                ondragenter="fpHomepage.dragEnter(event)"
                ondragover="fpHomepage.dragOver(event)"
                ondragleave="fpHomepage.dragLeave(event)"
                ondrop="fpHomepage.drop(event)"
                {% endif %}>
                Poslední přidané fotky
            </h2>
        </header>
        {% get_latest_photos count=8 as latest_photos %}
        <div class="row">
            {% for photo in latest_photos %}
            <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <a href="{{ photo.get_absolute_url }}">
                    <div class="tm-gallery-item-overlay">
                        <img src="{{ photo.thumbnail.url }}" alt="{{ photo.title|striptags }}" class="img-fluid tm-img-center">
                    </div>
                    <p class="tm-figcaption">{{ photo.title|striptags }}</p>
                </a>
            </figure>
            {% endfor %}
        </div>
        <div class="fp-hp-more"><a href="{% url 'photos-listing-time' %}">Více z Fotogalerie &hellip;</a></div>
    </div>
    {% endif %}
    {% if hp_box == 'new-photos-comments-box' %}
    <div class="fp-homepage-box">
        <header>
            <h2 id="new-photos-comments-box"
                class="tm-main-title"
                {% if not request.user.is_anonymous %}
                draggable="true"
                ondragstart="fpHomepage.drag(event)"
                ondragenter="fpHomepage.dragEnter(event)"
                ondragover="fpHomepage.dragOver(event)"
                ondragleave="fpHomepage.dragLeave(event)"
                ondrop="fpHomepage.drop(event)"
                {% endif %}>
                Poslední komentáře fotek
            </h2>
        </header>
        {% get_latest_photos_comments count=8 as latest_photos_comments %}
        <ul class="list-group">
            {% for comment in latest_photos_comments %}
            <li class="list-group-item fp-hp-list-item fp-discussion-item">
                <a class="fp-link" href="{{ comment.photo.get_absolute_url }}">{{ comment.photo.title|striptags|truncatewords:5 }}</a>,
                <strong>{{ comment.user.username }}</strong>,
                {{ comment.timestamp|date:'j.n.Y G:i:s' }},
                <em>{{ comment.content|raw_text_to_html|striptags|truncatewords:50 }}</em>
            </li>
            {% endfor %}
            <li class="list-group-item fp-hp-list-item fp-discussion-item fp-hp-more"><a href="{% url 'photos-listing-comments' %}">Více komentářů &hellip;</a></li>
        </ul>
    </div>
    {% endif %}
    {% if hp_box == 'new-discussion-comments-box' %}
    <div class="fp-homepage-box">
        <header>
            <h2 id="new-discussion-comments-box"
                class="tm-main-title"
                {% if not request.user.is_anonymous %}
                draggable="true"
                ondragstart="fpHomepage.drag(event)"
                ondragenter="fpHomepage.dragEnter(event)"
                ondragover="fpHomepage.dragOver(event)"
                ondragleave="fpHomepage.dragLeave(event)"
                ondrop="fpHomepage.drop(event)"
                {% endif %}>
                Poslední příspěvky ve Fotofóru
            </h2>
        </header>
        {% get_latest_comments count=8 as latest_comments %}
        <ul class="list-group">
            {% for comment in latest_comments %}
            <li class="list-group-item fp-hp-list-item fp-discussion-item">
                <a class="fp-link" href="{{ comment.get_absolute_url }}">{{ comment.title|striptags|truncatewords:5 }}</a>,
                <strong>{{ comment.user.username }}</strong>,
                {{ comment.timestamp|date:'j.n.Y G:i:s' }},
                <em>{{ comment.content|raw_text_to_html|striptags|truncatewords:50 }}</em>
            </li>
            {% endfor %}
            <li class="list-group-item fp-hp-list-item fp-discussion-item fp-hp-more"><a href="{% url 'comment-time' %}">Více příspěvků &hellip;</a></li>
        </ul>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}

{% block main-content %}
    {{ block.super }}

    <section class="media tm-highlight tm-highlight-w-icon">
        <div class="media-body">
            <header>
                <h2>Kam jsem se to dostal?</h2>
            </header>
            <p class="tm-margin-b">
                Fotoprůvodce je fotografická diskusní aplikace poskytujici prostor fotografům libovolného
                ražení k diskusi svých problémů, či sdělování zkušenosti. Jde o soubor několika aplikací:
            </p>

            <header>
                <h3>Fotogalerie</h3>
            </header>
            <p class="tm-margin-b">
                Je aplikace určená k diskusi nad fotografiemi. Pokud máte fotku, kterou se chcete pochlubit,
                či si myslíte, že je na ní cosi špatně, nebo vás zajímají reakce ostatních, pak FotoGalerie
                je vhodné místo, kam takovou fotku zařadit.
            </p>

            <header>
                <h3>Fotofórum</h3>
            </header>
            <p class="tm-margin-b">
                Je místem, kam můžete chodit se svými fotografickými problémy. Většinou se najde někdo, kdo
                už něco podobného řešil a poradí. často je dobré zkusit vyhledat, jestli podobná otázka již
                nepadla. Diskuse je organizována do takzvaných témat. Struktura diskuse se objeví vždy dole
                na stránce.
            </p>

            <header>
                <h3>Workshopy</h3>
            </header>
            <p class="tm-margin-b">
                Jde o obdobu fotogalerie. Workshop je místo, kde se diskutuje nad fotkama, které spolu pojí
                společné vyhlášené téma.
            </p>

            <p class="tm-margin-b">
                Autorská práva děl zde presentovaných jsou majetkem jejich autorů. Informace o případném
                užívaní těchto děl poskytuje autor.
            </p>

            <p class="tm-margin-b">
                Pokud chcete nahlásit chybu, zapomněli jste heslo, nebo chcete přiložit ruku k dílu a pomoci
                s vývojem, napiště na <span style="unicode-bidi:bidi-override; direction: rtl; color: NavajoWhite;">
                moc&#46;spuor<!-- Home -->gelgo<!-- page -->og&#64;ecdovurpotof</span> (pozor, adresu
                nekopírujte, ale opište!).
            </p>
        </div>
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        var fpHomepage = {

            hpBoxTitleOriginalColor: null,

            drag: function(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            },

            dragEnter: function(ev) {
                var srcElementId = ev.dataTransfer.getData("text");
                if (srcElementId != ev.target.parentNode.id) {
                    this.hpBoxTitleOriginalColor = ev.target.parentNode.style.color;
                    ev.target.parentNode.style.color = "LightCoral";
                }
            },

            dragOver: function(ev) {
                ev.preventDefault();
            },

            dragLeave: function(ev) {
                var srcElementId = ev.dataTransfer.getData("text");
                if (srcElementId != ev.target.parentNode.id) {
                    ev.target.parentNode.style.color = this.hpBoxTitleOriginalColor;
                    this.hpBoxTitleOriginalColor = null;
                }
            },

            drop: function(ev) {
                ev.preventDefault();
                var srcElementId = ev.dataTransfer.getData("text");
                if (srcElementId != ev.target.id) {
                    ev.target.style.color = this.hpBoxTitleOriginalColor;
                    this.hpBoxTitleOriginalColor = null;

                    var srcBox = document.getElementById(srcElementId).parentNode.parentNode;
                    var dstBox = ev.target.parentNode.parentNode;
                    var parentContainer = dstBox.parentNode
                    parentContainer.insertBefore(srcBox, dstBox);

                    var allBoxes = document.getElementsByClassName("tm-main-title");
                    var boxesOrder = [];
                    for (var i=0; i<allBoxes.length; ++i) {
                        boxesOrder.push(allBoxes[i].id);
                    }

                    fp.setPreference("hp_boxes", boxesOrder);
                }
            }

        }
    </script>
{% endblock %}
