{% extends "photos/base.html" %}

{% load static %}
{% load text_extras %}

{% block title %}{{ obj.title }} | {{ block.super }}{% endblock %}

{% block extrastatics %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
    <script src="{% static 'js/simplemde.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="photos-detail">

    <img src="{{ obj.photo.url }}">
    <h2 id="photos-detail-title">{{ obj.title|striptags }}</h2>
    <div id="photos-detail-metadata">
        <a href="{% url 'photos-listing-user' obj.user.username %}">{{ obj.user.username }}</a>
        {{ obj.timestamp|date:'d.m.Y H:i:s' }}
    </div>
    <div id="photos-detail-description">
        {{ obj.description|raw_text_to_html }}
    </div>

    <h3>Komentáře:</h3>
    {% for comment in obj.comments.all %}
    <div class="photos-detail-comment">
        <a href="{% url 'photos-listing-user' comment.user.username %}">{{ comment.user.username }}</a>
        {{ comment.timestamp|date:'d.m.Y H:i:s' }}
        {{ comment.content|raw_text_to_html }}
    </div>
    {% endfor %}

    <h3>Hodnocení:</h3>
    <div id="photos-detail-rating-stats">
        {% with rating_stats=obj.rating_stats %}
        Bodujících: {{ rating_stats.count }}, celkem bodů: {{ rating_stats.sum|default_if_none:"0" }}, průměr: {{ rating_stats.avg|default_if_none:"0" }}
        {% endwith %}
    </div>

    <h3>Jak bodovali?</h3>
    <table id="photos-detail-ratings">
    {% for rating in obj.ratings.all %}
        <tr>
            <td><a href="{% url 'photos-listing-user' rating.user.username %}">{{ rating.user.username }}</a></td>
            <td>{{ rating.timestamp|date:'d.m.Y H:i:s' }}</td>
            <td>{{ rating.rating }}</td>
        </tr>
    {% endfor %}
    </table>

    {% if request.user.is_authenticated %}
    <h2>Komentovat/hodnotit:</h2>
    <form method="POST" action="{% url 'photos-detail' obj.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Odeslat">
    </form>
    <script>
        var content_mde = new SimpleMDE({
            autosave: {
                enabled: false,
                uniqueId: "photo-comment",
            },
            element: document.getElementById("id_content"),
            forceSync: true,
            hideIcons: [
                "heading", "heading-smaller", "heading-bigger", "heading-1",
                "heading-2", "code", "clean-block", "table", "side-by-side",
                "fullscreen"
            ],
            indentWithTabs: false,
            lineWrapping: true,
            showIcons: [
                "bold", "italic", "strikethrough", "heading-3", "quote",
                "unordered-list", "ordered-list", "link", "image",
                "horizontal-rule", "preview", "guide"
            ],
            spellChecker: false,
            status: false
        });
    </script>
    {% endif %}

    </div>
{% endblock %}
