{% extends "photos/listing.html" %}

{% load text_extras %}
{% load get_params %}

{% block title %}Komentáře dle času | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Komentáře dle času{% endblock %}

{% block listing %}
    {% for obj in object_list %}
    <div class="card fp-card-listing">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <a href="{{ obj.photo.get_absolute_url }}">
                        <img src="{{ obj.photo.thumbnail.url }}" class="img-thumbnail" alt="{{ obj.photo.title|striptags }}">
                    </a>
                </div>
                <div class="col-sm-8">
                    <p>
                        <a class="fp-link" href="{% url 'photos-listing-user' obj.user.username %}">{{ obj.user.username }}</a>,
                        {{ obj.timestamp|date:'d.m.Y H:i:s' }}
                    </p>
                    <p>{{ obj.content|raw_text_to_html }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <ul class="pagination">
        <li class="page-item{% if not object_list.has_previous %} disabled{% endif %}">
            <a class="page-link" href="{% remove_get_params request.get_full_path 'p' %}">Nejnovější</a>
        </li>
        <li class="page-item{% if not object_list.has_previous %} disabled{% endif %}">
            <a class="page-link" href="{% if object_list.has_previous %}{% if object_list.number == 2 %}{% remove_get_params request.get_full_path 'p' %}{% else %}{% replace_get_params request.get_full_path p=object_list.previous_page_number %}{% endif %}{% endif %}">Předchozí</a>
        </li>
        <li class="page-item{% if not object_list.has_next %} disabled{% endif %}">
            <a class="page-link" href="{% if object_list.has_next %}{% replace_get_params request.get_full_path p=object_list.next_page_number %}{% endif %}">Další</a>
        </li>
    </ul>
{% endblock %}
