{% extends "photos/base.html" %}

{% block title %}Měsíce | {{ block.super }}{% endblock %}

{% block main-content-header-text %}Měsíce{% endblock %}

{% block listing %}
    {% regroup object_list by year as months_list %}
    <ul class="list-group">
    {% for obj in months_list %}
        <li class="list-group-item">
            <h3>{{ obj.grouper }}</h3>
            <ul class="list-group">
            {% for item in obj.list %}
                <li class="list-group-item"><a href="{% with item|date:'Y-m' as month %}{% url 'photos-listing-month' month %}{% endwith %}">{{ item|date:'F' }}</a></li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
